<div>
  <ul>
    <li><h1>{{pelicula?.title| titlecase}} #{{pelicula?.id| number}}</h1></li>
    <li><h2>{{pelicula?.subtitle}}</h2></li>
    <li><img class="image" src="{{pelicula?.img}}" width="200px" alt="200px">
    </li>
  </ul>
</div>
<div>
  <div>
    <h3>Comentarios</h3>
    <ul>
      <li *ngFor="let coment of pelicula.comentarios">{{coment.comentario}}</li>
    </ul>
  </div>
  <div>
    <form (ngSubmit)="enviarComentarios()" [formGroup]="forms">
      <input type="text" formControlName="comentario">

      <button type="submit">Enviar</button>
    </form>
  </div>
</div>


